<!doctype html>
<html
  lang="{{ site.Language.LanguageCode}}"
  dir="{{ or site.Language.LanguageDirection `ltr` }}"
>
  {{ partial "head.html" . }}

  <body>
    <header class="fixed w-full">
      <div class="container flex mx-auto p-4 justify-stretch">
        {{ partial "header.html" . }}
      </div>
    </header>

    <main>{{ block "main" . }}{{ end }}</main>

    <footer class="container flex justify-center mx-auto p-4">
      {{ partial "footer.html" . }}
    </footer>
  </body>
</html>
