{{ define "main" }}
  <div
    class="w-svw h-svh flex items-center justify-center bg-blue-munsell text-mint-green p-4 dark:bg-gunmetal-600 dark:text-white"
  >
    <div class="container flex mx-auto">
      <div class="w-full text-center">
        <p class="dark:text-brilliant-rose text-8xl">Hello</p>
        <p class="text-2xl">
          My name is Allandt (I'll tell you how it's pronounced, if you fancy a
          chat), a developer living in Hertford, a train-ride away from London.
        </p>
        <p>
          I have experience creating front- and back-ends for websites,
          installations for events and mobile apps.
        </p>
      </div>
    </div>
  </div>

  <div class="container flex flex-col gap-4 mx-auto p-4">
    {{ .Content }}
    <h2 id="projects" class="scroll-mt-20">Projects</h2>
    <ul
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 w-full"
    >
      {{ range site.RegularPages.ByDate.Reverse }}
        <li class="card">
          <a href="{{ .RelPermalink }}" class="card-content">
            {{ with .Params.video }}
              <iframe
                id="ytplayer"
                class="w-full aspect-video mb-4"
                type="text/html"
                width="640"
                src="https://www.youtube.com/embed/{{ . }}?autoplay=0&origin=http://allandt.com"
                frameborder="0"
                allow="fullscreen"
                loading="lazy"
              ></iframe>
            {{ else }}
              {{ partial "thumbnail" . }}
            {{ end }}
            <h3>{{ .Title }}</h3>
            <p>{{ .Summary }}</p>
          </a>
        </li>
      {{ end }}
    </ul>
  </div>

  <div class="container flex flex-col gap-4 mx-auto p-4">
    <h2 id="about" class="scroll-mt-20">A little bit about me</h2>
    <p>
      An innovative Software Engineer and Technical Lead with 20 years of
      experience driving complex, user-centric web, mobile, and desktop
      applications for high-profile clients. Expert in delivering scalable,
      high-impact solutions across diverse sectors—sports, automotive, events,
      and finance. My goal: to craft efficient, engaging, digital experiences
      that not only solve problems but exceed client expectations. Proficient in
      TypeScript, JavaScript, Node.js, and modern front-end frameworks like
      React and Vue. I bring a collaborative, detail-oriented approach,
      excelling in agile environments and always ready for the next technical
      challenge.
    </p>
    <ul class="flex gap-4 justify-center">
      <li>
        <a href="https://linkedin.com/in/allandt" target="_blank">
          {{ partial "svg" "linkedin" }}
        </a>
      </li>
      <li>
        <a href="https://github.com/overbyte/" target="_blank">
          {{ partial "svg" "github" }}
        </a>
      </li>
    </ul>
  </div>

  <div class="container flex flex-col gap-4 mx-auto p-4">
    <h2 id="contact" class="scroll-mt-20">Contact</h2>
    <ul>
      <li>
        <a href="mailto:hello@overbyte.co.uk">Email me</a>
      </li>
    </ul>
  </div>
{{ end }}
