@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --mint-green: #d0f4ea;
    --blue-munsell: #508991;
    --brilliant-rose: #ff579f;
    --auburn: #a22522;
    --gunmetal: #2b303a;
  }
  h1 {
    @apply text-2xl font-bold;
  }
  h2 {
    @apply text-xl font-bold;
  }
  h3 {
    @apply text-lg font-bold;
  }
  h4 {
    @apply font-bold;
  }
  a {
    @apply hover:text-brilliant-rose transition-colors;
  }
  p {
    @apply mb-2;
  }
}

@layer components {
  .card {
    @apply bg-gunmetal-50 dark:bg-gunmetal-700 text-gunmetal-950 dark:text-white rounded-lg p-4 shadow-sm;
  }
  .card-content {
    @apply h-full text-center flex flex-col items-center justify-center;
  }
}
