<nav
  class="flex flex-col md:flex-row items-baseline md:justify-between gap-4 w-full overflow-clip max-h-60 transition-all duration-300 ease-in-out relative has-[:checked]:max-h-8"
>
  <div>
    <a href="{{ .Site.BaseURL }}">allandt.com</a>
  </div>

  <div aria-hidden="true" class="absolute right-0 top-0 select-none md:hidden">
    <input
      id="nav-close"
      type="checkbox"
      class="fixed w-0 h-0 opacity-0 [&:checked+label>.closed]:hidden [&:checked+label>.opened]:block"
      tabindex="-1"
    />

    <label
      for="nav-close"
      class="w-6 h-6 flex justify-center items-center cursor-pointer"
    >
      <span class="opened hidden w-full h-full">
        {{ partial "svg" "hamburger" }}
      </span>
      <span class="closed w-full h-full">{{ partial "svg" "close" }}</span>
    </label>
  </div>

  <ul class="flex flex-col md:flex-row items-baseline gap-4 md:ml-auto">
    <li><a href="{{ .Site.BaseURL }}#projects">projects</a></li>
    <li><a href="{{ .Site.BaseURL }}#about">about</a></li>
    <li><a href="{{ .Site.BaseURL }}#contact">contact</a></li>
  </ul>
</nav>
